<h1>Seeks User Index</h1>
<% if flash[:errors] %>
	<h3><%= flash[:errors] %></h3>
<% end %>
<% if flash[:action_status] %>
	<h3><%= flash[:action_status] %></h3>
<% end %>
<% if current_user %>
	<form action='/sessions' method='post'>
		<p>Welcome, <%= current_user[:name] %>!</p>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
		<input type='hidden' name='_method' value='delete'>
		<input type='submit' value='Log out'>
	</form>
<% else %>
	<form action='/sessions/create' method='post'>
		<p>Current users: Log in</p>
		<table>
			<tr>
				<td>Email:</td>
				<td><input type='text' name="user[email]"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name="user[password]"></td>
			</tr>
		</table>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
		<input type='submit' value='Log in'>
		</form>
<% end %>
<% if @user_list %>
	<table>
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Email</td>
			<td>Digest</td>
		</tr>
		<% @user_list.each do |entry| %>
			<tr>
				<td><%= entry[:id] %></td>
				<td><%= entry[:name] %></td>
				<td><%= entry[:email] %></td>
				<td><%= entry[:password_digest] %></td>
				<td>
					<form action="/users/<%= entry[:id] %>" method='post'>
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
						<input type='hidden' name='_method' value='delete'>
						<input type='submit' value='Delete'>
					</form>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>Not a member?  <a href="/users/new">Register here!</a></p>
<% end %>
