<!-- Currently obsolete but could be useful if ever wanted to add admin privileges.
<h1>Seeks User Index</h1>
<div class='flash'>
	<% if flash[:errors] %>
		<div class='red flash_box'>
			<p><%= flash[:errors] %></p>
		</div>
	<% end %>
	<% if flash[:action_status] %>
		<p class='green flash_box'><%= flash[:action_status] %></p>
	<% end %>
</div>
<table>
	<tr>
		<td>ID</td>
		<td>Name</td>
	</tr>
	<% @user_list.each do |entry| %>
		<tr>
			<td><%= entry[:id] %></td>
			<td><%= entry[:name] %></td>
			<td>
				<form action="/users/<%= entry[:id] %>" method='get'>
					<input type='submit' value='View Profile'>
				</form>
				<form action="/users/<%= entry[:id] %>" method='post'>
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
					<input type='hidden' name='_method' value='delete'>
					<input type='submit' value='Delete'>
				</form>
			</td>
		</tr>
	<% end %>
</table>
<div class='footer'>
	<p>
		<a href="/secrets">View Secrets</a> | <a href="/users/<%= current_user[:id] %>">My Profile</a>
	</p>
	<p class='login_status'>
		<form action='/sessions' method='post'>
			Currently logged in as <%= current_user[:name] %>.
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Log out'>
		</form>
	</p>
</div>-->
