<h1>User Profile: <%= @view_user[:name] %></h1>
<div class='flash'>
	<% if flash[:errors] %>
		<div class='red flash_box'>
			<p><%= flash[:errors] %></p>
		</div>
	<% end %>
	<% if flash[:action_status] %>
		<p class='green flash_box'><%= flash[:action_status] %></p>
	<% end %>
</div>
<table>
	<tr>
		<td>User ID:</td>
		<td><%= @view_user[:id] %></td>
	</tr>
	<tr>
		<td>Name:</td>
		<td><%= @view_user[:name] %></td>
	</tr>
	<% if current_user %>
		<tr>
			<td>Email:</td>
			<td><%= @view_user[:email] %></td>
		</tr>
		<tr>
			<td>Secrets:</td>
			<td class='secret_list'>
				<% @secret_list.each do |this_secret| %>
					<p><%= this_secret[:content] %></p>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
<% if current_user[:id] == @view_user[:id] %>
	<p>Tell me everything!</p>
	<form>
		<textarea class="new_secret" name="secret[content]"></textarea>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
		<input type='submit' value='Share Secret'>
	</form>
<% end %>
<div class='footer'>
	<p>
		<a href="/">View Users</a> | <a href="/secrets">View Secrets</a>
		<% if current_user[:id].to_s == @view_user[:id].to_s %>
			 | <a href="/users/<%= current_user[:id] %>/edit">Edit Profile</a>
		<% end %>
	</p>
	<div class='login_status'>
		<% if current_user %>
			<form action='/sessions' method='post'>
				<p>
					Currently logged in as <%= current_user[:name] %>.
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
					<input type='hidden' name='_method' value='delete'>
					<input type='submit' value='Log out'>
				</p>
			</form>
		<% end %>
	</div>
</div>